<div th:fragment="content">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{field}"/>
            <th th:text="#{parentValue}"/>
            <th th:text="#{suggestedValue}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm_name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.widget.caption + ' (' + event.widget.id + ')'}"/>
            <td>
                <div th:if="${!#strings.isEmpty(event.parentId)}">
                    <span th:text="${event.parentCaption + ' (' + event.parentId + ')'}"></span>
                </div>
            </td>
            <td th:text="${event.caption + ' (' + event.captionId + ')'}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>