<div th:fragment="content">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{rating}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm_name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="*{(event.ratingMode == 'likes' ? event.ratingCount : (event.ratingCount == 0 ? 0 : event.ratingSum / event.ratingCount))}
            + ' '
            + #{*{event.ratingCount < 2 ? 'Single_' : 'Multiple_'} + ${event.ratingMode}}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>
