<div th:fragment="NodeIssueEvent_Single" xmlns="http://www.w3.org/1999/html">
    <h1 th:text="#{greetings('','')}"></h1>
    <h2 th:text="#{nodeIssue_H2(${email}, ${node.properties.cm_name})}"></h2>
    <span th:text="#{nodeIssue_Reason(${reason})}"></span>
    <br>
    <br>
    <br>
    <div th:if="${!#strings.isEmpty(userComment)}">
        <span th:text="#{userCommentInfo}"></span>
        <br>
        <span th:text="${userComment}"></span>
        <br><br><br>
    </div>
    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br><br>
</div>


<div th:fragment="WorkflowEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{workflowEvent_H2(${creator.firstName}, ${creator.lastName}, ${node.properties.cm_name}, ${workflowStatus})}"></h2>
    <br>
    <div th:if="${!#strings.isEmpty(userComment)}">
        <span th:text="#{userCommentInfo}"></span>
        <br>
        <span th:text="${userComment}"></span>
        <br><br><br>
    </div>
    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br><br>
</div>

<div th:fragment="MetadataSuggestionEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{metadataSuggestionEvent_H2(${creator.firstName}, ${creator.lastName})}"></h2>
    <br>
    <span th:text="#{metadataSuggestionEvent_Field(${widget.caption}, ${widget.id})}"></span><br>
    <span th:text="#{metadataSuggestionEvent_Suggestion(${caption}, ${captionId})}"></span><br>
    <div th:if="${!#strings.isEmpty(parentId)}">
        <span th:text="#{metadataSuggestionEvent_ParentValue(${parentCaption}, ${parentId})}"></span>
        <br>
    </div>

    <div th:if="${node != null }">
        <br>
        <br>
        <span th:text="#{metadataSuggestionEvent_SuggestedItem(${node.properties.cm__name})}"></span>
        <br>
        <br>
        <div class="center">
            <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
        </div>
    </div>
</div>

<div th:fragment="InviteEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>

    <div th:switch="${type}">
        <h2 th:case="invited_collection" th:text="#{inviteEvent_H2Collection(${creator.firstName}, ${creator.lastName}, ${name})}"></h2>
        <h2 th:case="*" th:text="#{inviteEvent_H2Material(${creator.firstName}, ${creator.lastName}, ${name})}"></h2>
    </div>
    <span th:text="#{inviteEvent_Rights}"></span><br>
    <div class="rights" th:text="${#strings.listJoin(permissions, '\n')}"></div>
    <br>
    <div th:if="${!#strings.isEmpty(userComment)}">
        <span th:text="#{userCommentInfo}"></span>
        <br>
        <span th:text="${userComment}"></span>
        <br><br><br>
    </div>

    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
</div>

<div th:fragment="InviteSafeEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:case="*" th:text="#{inviteEvent_H2Material(${creator.firstName}, ${creator.lastName}, ${name})}"></h2>
    <span th:text="#{inviteEvent_Rights}"></span><br>
    <div class="rights" th:text="${#strings.listJoin(permissions, '\n')}"></div>
    <br>
    <span th:text="#{inviteEvent_Safe}"></span>
    <br><br>
    <div th:if="${!#strings.isEmpty(userComment)}">
        <span th:text="#{userCommentInfo}"></span>
        <br>
        <span th:text="${userComment}"></span>
        <br><br><br>
    </div>

    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
</div>

<div th:fragment="CommentEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{commentEvent_H2(${creator.firstName}, ${creator.lastName}, ${node.properties.cm__name})}"></h2>
    <br>
    <span th:text="#{userCommentInfo}"></span>
    <br>
    <span th:text="${commentContent}"></span>
    <br><br><br>
    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br><br>
</div>

<div th:fragment="AddToCollectionEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{addToCollectionEvent_H2(${creator.firstName}, ${creator.lastName},  ${node.properties.cm__name}, ${collection.properties.cm__name})}"></h2>

    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br>
    <div class="center">
        <a class="btn" th:text="#{collectionLink}" th:href="${collection.properties.link}"></a>
    </div>
    <br><br>
</div>

<div th:fragment="RatingEvent_Single">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{ratingEvent_H2(${node.properties.cm__name},*{ratingSum / ratingCount})}"></h2>


    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br><br>
</div>




<!-- multiple -->



<div th:fragment="NodeIssueEvent_Multiple">
    <h1 th:text="#{greetings('','')}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{issuer}"/>
            <th th:text="#{reason}"/>
            <th th:text="#{comment}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.email}"/>
            <td th:text="#{nodeIssue_Reason(${event.reason})}"/>
            <td th:text="${event.userComment}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="WorkflowEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{status}"/>
            <th th:text="#{comment}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.workflowStatus}"/>
            <td th:text="${event.userComment}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="MetadataSuggestionEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{field}"/>
            <th th:text="#{parentValue}"/>
            <th th:text="#{suggestedValue}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.widget.caption + ' (' + event.widget.id + ')'}"/>
            <td>
                <div th:if="${!#strings.isEmpty(event.parentId)}">
                    <span th:text="${event.parentCaption + ' (' + event.parentId + ')'}"></span>
                </div>
            </td>
            <td th:text="${event.caption + ' (' + event.captionId + ')'}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="InviteEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{comment}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.userComment}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="InviteEventSafer_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{comment}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.userComment}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
    <br>
    <span th:text="#{inviteEvent_Safe}"></span>
</div>

<div th:fragment="CommentEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{comment}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="${event.commentContent}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="AddToCollectionEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
            <td>
                <a class="btn-flat" th:text="#{collectionLink}" th:href="${event.collection.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>



<div th:fragment="RatingEvent_Multiple">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <table class="notification-table">
        <tr>
            <th th:text="#{material}"/>
            <th th:text="#{user}"/>
            <th th:text="#{rating}"/>
            <th></th>
        </tr>
        <tr th:each="event: ${events}">
            <td th:text="${event.node.properties.cm__name}"/>
            <td th:text="${event.creator.firstName + ' ' + event.creator.lastName}"/>
            <td th:text="*{event.ratingSum / event.ratingCount}"/>
            <td>
                <a class="btn-flat" th:text="#{materialLink}" th:href="${event.node.properties.link}"></a>
            </td>
        </tr>
    </table>
</div>

