<div th:fragment="content">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{proposeForCollectionEvent_H2(${creator.firstName}, ${creator.lastName}, ${node.properties.cm_name}, ${collection.properties.cm_name})}"></h2>

    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br>
    <div class="center">
        <a class="btn" th:text="#{collectionLink}" th:href="${collection.properties.link}"></a>
    </div>
    <br><br>
</div>