<div th:fragment="content">
    <h1 th:text="#{greetings(${receiver.firstName}, ${receiver.lastName})}"></h1>
    <h2 th:text="#{workflowEvent_H2(${creator.firstName}, ${creator.lastName}, ${node.properties.cm_name}, ${workflowStatus})}"></h2>
    <br>
    <div th:if="${!#strings.isEmpty(userComment)}">
        <span th:text="#{userCommentInfo}"></span>
        <br>
        <span th:text="${userComment}"></span>
        <br><br><br>
    </div>
    <div class="center">
        <a class="btn" th:text="#{materialLink}" th:href="${node.properties.link}"></a>
    </div>
    <br><br>
</div>